default gosd
timeout 0
label gosd
    kernel /Image
    fdt /{{.DTBFilename}}
    initrd /initramfs.cpio.zst
    append console=ttyS0,{{.ConsoleBaud}}n8 quiet init=/init gosd.board=cubie-a5e panic=10{{with .KernelParams}} {{.}}{{end}}
